#main{
    background-color: coral;
    color: white;
    margin: 50px;
    padding: 30px;
}
.division2{
    background-color: black;
    color: white;
    margin: 20px;
    padding: 30px;
    margin-top: 100px;
}
#courses{
    text-align: center;
    color: red;
    background-color: #ffb350;
    line-height: 100px;

}
.mycourses{
    display:flex;
    margin: 30px;
}
#course1{
    background-color: green;
    color: white;
    padding: 30px;


}
#course2{
    background-color: greenyellow;
    color: white;
    padding: 30px;
    margin-left: 30px;
}
#course3{
    background-color: springgreen;
    color: white;
    padding: 30px;
    margin-left: 30px;

}
#course1:hover{
    background-color: darkgoldenrod;
}
#course2:hover{
    background-color: black;
}
#course3:hover{
    background-color: brown;
}

.test{
    text-align: center;
}